{% extends "base.html" %}



{% block content %}
    <style>

    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }
    .d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}
    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    </style>
   <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
           <form action="/" method="post" id="searchform">
        <div class="searchbar">

          <input class="search_input" type="text" name="ingredients" placeholder="Search Recipes by Ingredients (seprate with , for multipule)">
          <a href="javascript:{}" onclick="document.getElementById('searchform').submit();" class="search_icon"><i class="fas fa-search"></i></a>

        </div>
           </form>
      </div>
    </div>

    <div class="recepie_area">
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                <div style="height: 500px" class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src="{{ recipe.thumbnail }}" alt="">
                        </div>
                        <h3>{{ recipe.title }}</h3>
                        <span><b>Ingredients:</b></span>
                        <p>{{ recipe.ingredients }}</p>
                        <a href="{{ recipe.href }}" class="line_btn">View Full Recipe</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




</script>

{% endblock %}