{% extends "base.html" %}

{% block content %}

    <style>


.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  left: 50%;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

@media (min-width: 992px) and (min-width: 1200px) {
  /* line 53, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_recepie.scss */
  .col-lg-3
{
    width: 50% !important;

  }
}

    </style>



    <div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
         <form action="/update" id="updateform" method="post">
        <div class="team-content">
          <div class="form-group" style="display: flex;justify-content: space-evenly;margin-left: 10% !important;">
                    <label for="name" style="margin-top: 5px">Your Name:</label>
                    <input value="{{ current_user.fullname }}" type="text"  disabled name="name" class="form-control"  id="name">
           </div>
          <div class="form-group" style="display: flex;justify-content: space-evenly;margin-left: 10% !important;">
                    <label for="email" style="margin-top: 5px">Your Email:</label>
                    <input value="{{ current_user.email }}" type="text"  name="email" disabled class="form-control"  id="email">
           </div>
            <div class="form-group" style="display: flex;justify-content: space-evenly;margin-left: 10% !important;">
                    <label for="about" style="margin-top: 5px">About Me:</label>
                    <input value="{{ current_user.about }}" type="text"  name="about" disabled class="form-control"  id="about">
           </div>
            <div class="form-group" style="display: flex;justify-content: space-evenly;margin-left: 10% !important;">
                    <label for="password" style="margin-top: 5px;">Your Password:</label>
                    <input value="{{ current_user.password }}" type="password"  name="password" disabled class="form-control"  id="password" style="margin-right: 12px">
           </div>
              <input type="submit" id="btnsubmit" class="btn btn-primary" value="Update">
        </div>
              </form>
          <button  class="btn btn-primary" id="btnedit">Edit</button>
      </div>
    </div>



  </div>
</div>

        <script>
         $('#home').removeClass('active');
         $('#profile').addClass('active');

         $('#btnsubmit').hide();
         $('#btnedit').on('click',function (){
              $('#btnsubmit').show();
              $(this).hide();
              $( "input" ).prop( "disabled", false );
         })

         {#$('#btnsubmit').on('click',function (e){#}
         {##}
         {#     e.preventDefault(); // avoid to execute the actual submit of the form.#}
         {##}
         {#      var form = $('#updateform');#}
         {#      console.log("ok")#}
         {##}
         {#   $.ajax(#}
         {#       {#}
         {#          type: "POST",#}
         {#          url: '/updateprofil',#}
         {#          data: form.serialize(), // serializes the form's elements.#}
         {#          success: function(data)#}
         {#          {#}
         {#              alert(data); // show response from the php script.#}
         {#          }#}
         {#        });#}
         {#        })#}

         </script>


{% endblock %}